<header>
    <nav id="menu" class="navbar navbar-light navbar-fixed-top bd-navbar alternative nav-transform">
        <div class="container nav-vertical">
            <a class="navbar-brand" href="http://teenmade.com">
                <img class="brand-logo default" src="http://teenmade.com/img/tm-logo-red.png">
                <img class="brand-logo alternative" src="http://teenmade.com/img/tm-logo.png">
            </a>
            <ul class="nav navbar-nav nav-center">
                <li class="nav-item">
                    <a class="nav-link " href="http://teenmade.com/discover">Discover</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " href="http://teenmade.com/services">Services</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " href="http://teenmade.com/shops">Shops</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " href="http://blog.teenmade.com" target="_blank">Blog</a>
                </li>
            </ul>
            <ul class="nav navbar-nav pull-right">
                <li class="nav-item">
                    <button class="nav-link btn-link" data-toggle="modal" data-target="#login">Login</button>
                </li>
                <li class="nav-item">
                    <a class="btn btn-primary-outline btn-round" data-toggle="modal" data-target="#signup">Signup</a>
                </li>
            </ul>
        </div>
    </nav>
    <div id="banner">
        <div class="wrapper"></div>
        <div class="content">
            <p class="top-p relief">100% Teen Made</p>
            <h1 class="relief">
                    <span class="text">Apparel</span><span class="cursor">|</span>
                </h1>
            <p class="relief">Buy Teen <a href="http://teenmade.com/discover">Products</a> &amp; Hire Professional Teen <a href="http://teenmade.com/services">Services</a></p>
            <div class="bottom-content" style="position: absolute; bottom:-145px; width:100%;">
                <a href="#!" data-toggle="modal" data-target="#signup" class="btn btn-primary" style="font-weight: 300;">Teens Join and Launch Your Buiness Here</a>
            </div>
        </div>
    </div>
</header>
