#menu {
  height: 86px;
  font-size: 18px;
  padding-top: 15px;
  border-bottom: 1px solid transparent;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
