<header class="navbar-fixed-top">
    <section class="header">
        <div class="container">
            <div class="logo">
                <a href="/home">
                    <svg>
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/images/icon.svg/svg-symbols.svg#datadeck"></use>
                    </svg>
                </a>
            </div>
            <nav class="navbar-right">
                <div class="navbar-header">
                    <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <div id="navbar-collapse" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li class="nav-item pt-solutions">
                            <a class="nav-first" href="javascript:">Solutions</a>
                            <svg>
                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/images/icon.svg/svg-symbols.svg#nav-arrow"></use>
                            </svg>
                            <ul class="pt-slt">
                                <li class="first"><a href="/bi">BI Analysts</a></li>
                                <li><a href="/marketing">Marketing</a></li>
                                <li class="last"><a href="/it">IT Leaders</a></li>
                            </ul>
                        </li>
                        <li class="nav-item pt-solutions-app">
                            <a class="nav-first-app" href="javascript:">Solutions</a>
                            <svg>
                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/images/icon.svg/svg-symbols.svg#nav-arrow"></use>
                            </svg>
                            <ul class="pt-slt-app">
                                <li><a href="/bi">BI Analysts</a></li>
                                <li><a href="/marketing">Marketing</a></li>
                                <li><a href="/it">IT Leaders</a></li>
                            </ul>
                        </li>
                        <!-- <li class="nav-item"><a class="nav-second" href="javascript:">Community</a></li> -->
                        <li class="nav-item"><a class="nav-second" href="https://dash.datadeck.com/signin">Sign in</a></li>
                        <li class="nav-item"><a class="btn signup top-signup" href="/signup">SIGN UP NOW</a></li>
                    </ul>
                </div>
            </nav>
        </div>
    </section>
</header>
