@import '~styles/common';
.site-header {
  position: fixed;
  top: 0;
  z-index: 103;
  width: 100%;
  min-height: 74px;
  opacity: .97;
  border-bottom: 1px solid transparent;
  box-shadow: 0 2px 20px rgba(0, 0, 0, .16);
  background-color: rgba(255, 255, 255, .97);
  transition: all .35s ease-in-out;
  .container {
    width: 100%!important;
    padding: 0 20px
  }
  .navbar {
    height: 74px;
    border: none;
    margin-bottom: 0
  }
  .navbar-collapse {
    padding-right: 0;
    overflow-x: hidden
  }
  .navbar-brand {
    width: 150px;
    padding: 0;
    margin: 12px 0;
    text-indent: -9999px;
    background-image: url(./img/top-logo.png);
    background-repeat: no-repeat;
  }
  .navbar-nav {
    float: right;
    margin: 20px 0;
    &>li>a {
      color: #383838;
      font-size: 16px;
      margin-right: 20px;
      padding: 7px 24px;
      border-radius: 3px;
      &:focus,
      &:hover {
        color: $primary;
        background-color: transparent
      }
    }
    &>li.active>a {
      color: $primary;
    }
  }
  .navbar-button {
    display: inline-block;
    float: right;
    margin: 0;
    text-align: right;
    &>li {
      margin: 0;
      padding: 0;
      vertical-align: top;
      a {
        &.btn {
          margin: 22px 0 22px 10px;
        }
        &.user {
          padding: 9px;
          color: #FFF;
          border: 1px solid transparent;
          font-size: 16px;
          cursor: pointer;
          text-decoration: none;
          &:hover {
            color: $primary
          }
        }
        &.login {
          min-width: 70px;
          color: #6e6e6e;
          border: 1px solid #6e6e6e;
          background-color: transparent;
          &:hover {
            color: #FFF;
            background-color: #6e6e6e
          }
        }
        &.signup {
          min-width: 70px;
          color: $primary;
          border: 1px solid $primary;
          background-color: transparent;
          &:hover {
            color: #FFF;
            background-color: $primary
          }
        }
      }
      .dropdown-menu {
        width: 130px;
        left: 0;
        top: 58px;
        margin: 0;
        padding: 0;
        border: none;
        border-radius: 0 0 3px 3px;
        overflow-y: auto;
        text-align: left;
        background-color: #fff;
        box-shadow: 0 7px 21px rgba(0, 0, 0, .1);
        a {
          padding: 10px;
          line-height: 20px;
          color: #6e6e6e;
        }
      }
    }
  }
  .info-wrap {
    margin: 16px 0 16px 35px!important;
  }
  .switch-locale {
    display: inline-block;
    position: relative;
    width: 130px;
    margin: 17px 0;
    padding: 9px 25px;
    text-align: center;
    border-radius: 3px 3px 0 0;
    .dropdown-toggle {
      font-size: 16px;
      color: #383838;
      &:hover {
        color: $primary
      }
      &:after {
        position: relative;
        top: -2px;
        content: "\25bc";
        display: inline-block;
        vertical-align: middle;
        margin-left: 3px;
        font-size: 12px;
        transform: scale(.8)
      }
    }
    &.open {
      font-size: 14px;
      background-color: rgba(255, 255, 255, .2);
      .dropdown-toggle {
        color: $primary
      }
    }
    &>ul {
      min-width: 90px;
      font-size: 16px;
      box-shadow: 0 2px 2px rgba(0, 0, 0, .2)!important;
      padding: 0 0 40px;
      overflow-x: hidden;
      border-radius: 2px;
      &>li>a {
        padding: 8px 15px;
        top: 2px
      }
    }
  }
  .logout {
    display: none
  }
}

@media (min-width:767px) {
  .site-header .switch-locale-wrap:hover .dropdown-menu {
    display: block
  }
  .site-header .switch-locale-wrap:hover .switch-locale {
    background-color: rgba(255, 255, 255, .2)
  }
}

@media (max-width:1199px) {
  .site-header .navbar-nav>li>a {
    margin-right: 10px
  }
}

@media (max-width:980px) {
  .site-header .navbar-nav>li>a {
    padding-left: 12px;
    padding-right: 12px;
    margin-right: 3px
  }
  .site-header .switch-locale {
    width: 114px;
    padding: 9px 15px
  }
  .site-header .switch-locale .dropdown-menu {
    width: 104px!important
  }
}

@media (min-width:800px) {
  .site-header .navbar-button .user .user-name {
    max-width: 125px
  }
}

.site-header.transparent {
  box-shadow: none;
  background: linear-gradient(to bottom, rgba(0, 0, 0, .4), rgba(0, 0, 0, 0));
  .navbar-brand {
    background-image: url(./img/top-logo.png);
  }
  .navbar-nav>li>a {
    color: #FFF;
    &:hover {
      color: #FFF;
      background-color: rgba(0, 0, 0, .2)
    }
  }
  .switch-locale {
    .dropdown-menu {
      top: 41px;
      background-color: rgba(0, 0, 0, .2);
      &>li>a {
        color: #FFF;
        &:focus,
        a:hover {
          color: #FFF;
          background-color: rgba(0, 0, 0, .2)
        }
        &.user {
          color: #FFF
        }
        &.login {
          color: #FFF;
          border: 1px solid #FFF;
          background-color: transparent:hover {
            color: $primary;
            background-color: #FFF
          }
        }
      }
    }
    .dropdown-toggle {
      color: #FFF;
      &:hover {
        color: #FFF
      }
    }
    &:hover {
      background-color: rgba(0, 0, 0, .2)
    }
  }
}