<!DOCTYPE html>
<html lang="zh" ng-app="zk.index">

<head>
    <title>中控云平台|下载中心</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <link rel="shortcut icon" href="/assets/timecube.ico">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Disable tap highlight on IE -->
    <meta name="msapplication-tap-highplight" content="no">
    <!-- Web Application Manifest -->
    <link rel="manifest" href="manifest.json">
    <!-- Add to homescreen for Chrome on Android -->
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="application-name" content="Web Starter Kit">
    <!-- Add to homescreen for Safari on iOS -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="Web Starter Kit">
    <!-- Tile icon for Win8 (144x144 + tile color) -->
    <meta name="msapplication-TileColor" content="#78BF52">
    <!-- Color the status bar on mobile devices -->
    <meta name="theme-color" content="#78BF52">
</head>

<body ng-controller="zkIndexCtrl">
    <zk-header all-soft="allSoft" download="download"></zk-header>
    <zk-main soft-type-list="softTypeList" download="download"> </zk-main>
    <zk-footer></zk-footer>
</body>

</html>
