<footer>
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <dl class="pt-ft-solutions">
                    <dt>Solutions for</dt>
                    <dd><a href="/bi">Business Intelligence</a></dd>
                    <dd><a href="/marketing">Marketing</a></dd>
                    <dd><a href="/it">IT Leaders</a></dd>
                </dl>
                <dl class="pt-ft-solutions">
                    <dt>Dashboard for</dt>
                    <dd><a href="/sheet">Spreadsheet</a></dd>
                    <dd><a href="/ga">Google Analytics</a></dd>
                </dl>
                <div class="pt-ft-privacy">
                    <a href="/privacy-policy">Privacy Policy</a>
                </div>
                <div class="pt-ft-terms">
                    <a href="/term-of-use">Terms of Use</a>
                </div>
                <div class="pt-ft-blog">
                    <a href="https://medium.com/datadeck" target="_blank">Blog</a>
                </div>
                <div class="pt-ft-help">
                    <a href="http://help.datadeck.com/support/home" target="_blank">Help</a>
                </div>
                <div class="pt-follow-now">
                    <p>Follow us with:</p>
                    <a href="https://www.facebook.com/datadeck1" target="_blank">
                        <svg class="facebook-ft-now">
                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="images/icon.svg/svg-symbols.svg#facebook"></use>
                        </svg>
                    </a>
                    <a href="http://www.twitter.com/datadeck" target="_blank">
                        <svg class="twitter-ft-now">
                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="images/icon.svg/svg-symbols.svg#twitter"></use>
                        </svg>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="zk-copyright">
        <p>Copyright © 2016 Ptmind all rights reserved</p>
    </div>
</footer>
